.procedure {
    margin-top: 114px;
    margin-bottom: 79px;
    .title-primary {
        margin-bottom: 79px;
    }
    #list-example {
        padding: 27px 33px;
        background-color: #EFFCFF;
        width: 345px;
        border-radius: 15px;
    }
    .list-group-item {
        border: none;
        padding: 0;
    }
    .staps {
        background-color: #EFFCFF;
        padding-bottom: 18px;
        &-name {
            background: #222647;
            border-radius: 42px;
            width: 164px;
            font-size: 14px;
            padding: 6px 13px;
            color: #fff;
            margin-bottom: 12px;
            font-weight: 500;
        }
        &-desc {
            font-size: 14px;
            font-weight: 300;
            line-height: 18.41px;
            color: #000;
        }
    }
    &-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0 63px;
    }
    &-left {
        position: sticky;
        top: 0;
        left: 0;
    }
    &-right {
        width: 100%;
    }
    .body {
        padding: 53px 26px 56px 65px;
        margin-bottom: 40px;
        background: url('../img/bg-procedure.jpg') no-repeat top center/cover;
        border-radius: 16px;
    }
   
    h4 {
        font-size: 20px;
        color: #fff;
        .text-green {
            font-size: 24px;
            line-height: 28px;
        }
        p {
            font-size: 24px;
            line-height: 28px;
            color: #2EBBF5;
            margin-top: 60px;
        }
    }
    .position-list {
        display: flex;
        justify-content: space-between;
        align-items: center;        
    }
    .position-caption {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 17px;
    }
    .node-radio {
        width: 11px;
        height: 11px;
        background-color: #5BCCF9;
        border-radius: 50%;
        box-shadow: 0 0 0px 4px rgba(91, 204, 249, 0.22);
        margin-right: 10px;
    }
    .position-name {
        color: #fff;
        font-weight: 400;
        font-size: 20px;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info-name {
        color: #fff;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 500;
        span {
            font-size: 12px;
            font-weight: 300;
            display: block;
            margin-top: 5px;
        }
    }
    &-form {
        margin-top: 48px;
        background: rgba(255, 255, 255, 0.15);
        border-radius: 20px;
        padding: 15px 54px 21px 49px;
    }
    .form-title {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        color: #fff;
        font-weight: 700;
    }
    .form-connet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
        span {
            color: #fff;
            height: 100%;
        }
    }
    .list-icons {
        display: flex;
        align-items: center;
        border: 1px dashed  #fff;
        border-radius: 15px;
        padding: 3px 5px;
        margin-left: 10px;
        a {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .form-input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 10px;
        input {
            border-radius: 99px;
        }
    }
}