.success {
    background-color: #222647;
        .title-primary {
        padding-top: 88px;
        margin-bottom: 70px;
    }
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 78px;
    }
    &-img{
        position: relative;
        z-index: 10;
        &::before {
            content: "";
            height: 100%;
            width: 100%;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            background: #2EBBF5;
            opacity: 0.7;
            filter: blur(17px);
        }
    }
    &-number {
        font-size: 48px;
        color: #fff;
        font-weight: 700;
    }
    &-desc {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin-top: 20px;
    }
    &-main{
        width:108px;
        height:108px;
        border:1px solid #CCC;
        position:relative;
        top:0; bottom:0; left:0;right:0;
        margin:auto;
        border-radius:50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    &-circle{
        width:11px;
        height:11px;
        background-color: $green-color;
        border-radius:50%;
        position:absolute;
        top:0; bottom:0; left:0;right:0;
        overflow:hidden;
        margin:auto;
        animation: circle 6s linear infinite;
    }
    @keyframes circle{
        0%{
            transform:rotate(0deg)
                    translate(-53px)
                    rotate(0deg);
        
        }
        100%{
            transform:rotate(360deg)
                    translate(-53px)
                    rotate(-360deg);
                   
        }
    }
    

    .location-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 60px;
        margin-top: 40px;
        margin-left: 30px;
    }
    .location-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 55px;

    }
    .icon-location {
        font-size: 33px;
        color: $primary-color;
        margin-right: 10px;
    }
    span {
        line-height:22px ;
        font-size: 18px;
        color: #fff;
        font-weight: 300;
        strong {
            font-weight: 700;
        }
    }
    &-bn-img {
        width: 921px;
        position: relative;
        img {
            position: absolute;
            right: 0px;
            top: -46px;
            z-index: 1;
        }
    }
}